#quote-results-app {
  font-size: $base-font-size;
  // Standalone builds need to set Gamay here because WordPress is not present
  font-family: 'gamay', sans-serif;
  a {
    color: $imt-blue;
  }

  label {
    white-space: wrap;
  }

  .daisy-tooltip::before {
    z-index: 15;
  }

  // Wordpress has some CSS that overrides daisy table styles
  .daisy-table {
    td,
    th {
      border-bottom: none;
    }

    td {
      text-align: left;
    }
  }

  .btn-primary {
    background-color: var(--color-primary-btn);
    transition: background-color 0.18s ease, color 0.18s ease;

    &:hover {
      background-color: #6cab2c;
    }
  }

  .qr-text-secondary {
    color: var(--color-text-secondary);
  }

  .qr-text-info {
    color: var(--color-text-info);
  }

  .qr-text-excluded {
    color: var(--color-text-excluded);
  }

  .daisy-tooltip {
    --tooltip-text-color: #fff;
  }
  
  // WP Editor image center class
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .acs_rating_bar.acs_stars[data-unitsize=large] {
    font-size: 15px ;
    line-height: 15px ;
  }

  .provider-content p {
	  margin-bottom: 1rem;
  }

}

html {
  font-size: $base-font-size; // it had to be done.
}

body {
  background-color: #fff;
  font-family: 'gamay', sans-serif;
}

// for wordpress... Wordpress has main element with id of main
// going to use that to change the background color for this app
#main {
  background-color: #fff;
}

.main {
  height: auto;
  overflow: visible;
}

.wrapper {
  overflow: visible;
  padding-top: 0;
}

.header {
  top: 0 !important;
  position: relative;
}

.display-none {
  display: none;
}

@media (max-width: 370px) {
  .reviews {
    display: flex;
    flex-direction: column;
  }
}
