{
  "parser": "vue-eslint-parser",
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true
  },
  "extends": [
    "plugin:vue/base",
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always"
    }],
    "vue/multi-word-component-names": "off"
  }
}
